.row
  .span16.columns
    = form_for @closet, :url=> resource_url, :html => { :id => "#{form_type}_closet" } do |f|
      %fieldset
        .clearfix
          = f.label :name
          .input
            = f.text_field :name, :value => "${name}", :class => "xlarge"

        .actions
          = f.submit t("helpers.submit.#{form_type}", :model => f.object.class.model_name.human), :class => "btn primary"
