.row
  .span16.columns
    .page-header
      %h1= t(".title")
      %ul.tabs
        %li= link_to t("links.back"), "#/index"
        %li= link_to t("links.edit"), "#/${id}/edit"
        %li= link_to t("links.destroy"), "#/index", :class => "destroy", :confirm => t("links.confirm")

.row
  .span10.columns
    %p
      %strong= Closet.human_attribute_name(:name)
      ${name}


  .span6.columns
    .dashboard
      .page-header
        %h3
      %p



