
  <li class='span3 mini-item'>
    <div class='thumbnail'>
      <img alt="<%= name%>" src="<%=imageurl%>" style="max-width:150px;" />
      <div class='caption'>
        <h5><%=name%></h5>
        <p>
          <a href="#/clothing_items/<%=id%>" class="btn btn-primary">View</a>
          <a href="/clothing_items/<%=id%>/invite_friends" class="btn">Ask</a>
          <div id="add-to-closet"><a href="">Add To Closet</a></div>
        </p>
      </div>
    </div>
  </li>