<div class='row'>
	<div class='row-fluid'>
	  <div class="span12">
	  	<h1><a href="javascript:window.history.back();">Back</a></h1>
	  </div>
	  <div class='span12'>
	    <h1><%=attributes.name%></h1>
	  </div>
	</div>
	<div class='row-fluid'>
	  <div class='span12' id='product'>
	    <div class='span4'>
	      <img alt="<%=attributes.name%>" src="<%=attributes.imageurl%>" style="max-width: 240px;" />
	    </div>
	    <div class='span7' id='product_info'>
	      <div class='row' style='line-height:100px;height:100px;'>
	        <div class='span4'>
	          <h2 data-content='How Cute Is This? is a fashion game to play with friends. You and your friends tell us what you would pay, and we all help you decide if you should buy it.' data-original-title='What is this?' id='what-is-hcit' rel='popover' style='line-height:100px;'>How Cute Is This?</h2>
	        </div>
	        <div class='span2' data-content='The cute price is the amount people are willing to pay for this item.' data-original-title='Cute?' id='what-is-cute' rel='popover'>
	         <% if(user_scored_clothing_item.attributes.price != null && user_scored_clothing_item.attributes.price > -1) { %>
	         	<p class='s_price s_price'>$<%=user_scored_clothing_item.attributes.price%><span style='font-size:14px'>Cute!</span></p>
	         <% } else {%>	
		         <p class='s_price s_price' onclick='$("#hcit-score-form-well").stop().css("background-color", "#FFFF9C").animate({ backgroundColor: "#FFFFFF"}, 2500);'>Tell Us!</p>
		     <% } %>
	        </div>
	        <% if (attributes.hasOwnProperty("heir")) {%>
		        <div class='span1'>
		          <a href="<%=attributes.heir.item_url%>" class="btn btn-success">Buy It</a>
		        </div>
	        <% }%>
	      </div>
	      <div class='row'>
	      	<% if (user_scored_clothing_item.attributes.hasOwnProperty("shopped_it")) {%>
	        <div class='span2'>
	          <p>
	            <strong><%=attributes.shopped_it%></strong>
	            Shopped it!
	          </p>
	        </div>
	        <div class='span2'>
	          <p>
	            <strong><%=attributes.dropped_it%></strong>
	            Dropped it!
	          </p>
	        </div>
	        <div class='span3'></div>
	        <% } %>
	      </div>
	      <h4>I think it is...</h4>
	      <div id='hcit-score-form'>
	        <div class='well' id='hcit-score-form-well'>
	          <form accept-charset="UTF-8" action="/clothing_items/<%=attributes.id%>/hcit_score" class="new_user_scored_clothing_item" data-remote="true" id="new_user_scored_clothing_item" method="post"><div style="margin:0;padding:0;display:inline"></div>
	          <input id="user_scored_clothing_item_clothing_item_id" name="clothing_item_id" type="hidden" value="<%=attributes.id%>" />
	          <input id="user_scored_clothing_item_love" name="love" type="hidden" />
	          <input id="user_scored_clothing_item_price" name="price" type="hidden" />
	          </form>
	          <div id='dollar-slider'></div>
	          <h1>
	            $
	            <span id='dollar-amount'>0</span>
	            Cute!
	          </h1>
	          <p>
	            <div class='btn btn-success' href="" id="hcit-shop-it">
	              <i class='icon-shopping-cart'></i>
	              Shop it!
	            </div>
	            <div class='btn btn-danger' href="" id="hcit-drop-it">
	              <i class='icon-trash'></i>
	              Drop it!
	            </div>
	          </p>
	        </div>

	      </div>
	      <div class='modal hide fade' id='hcit_form'>
	        <div class='modal-header'>
	          <a href="#/clothing_items/40319?class=close&amp;data%5Bdismiss%5D=modal">x</a>
	          <h3>Tell us...</h3>
	        </div>
	        <div class='modal-body'></div>
	        <div class='modal-footer'>
	          <a href="javascript:hideModal();">Close</a>
	        </div>
	      </div>

	      <a href="#/clothing_items/<%=attributes.id%>" class="btn" id="inviteFacebook">Invite My Friends</a>
	      <a href="#/clothing_items/<%=attributes.id%>" class="btn" id="postFacebookWall">Ask All My Friends</a>
	      <p>
	        <strong>Description:</strong>
	        <%=attributes.description%>
	      </p>
	      <p>
	        <strong>Retailer:</strong>
	        Amazon
	      </p>
	      <p>
	        <strong>Manufacturer:</strong>
	        
	      </p>
	      <p>
	        <a href="#/clothing_items">View All</a>
	      </p>
	    </div>
	  </div>
	</div>
	
