= bootstrap_form_for @linked_clothing_item do |f|
  = f.error_messages
  = f.text_field :item_url
  = f.text_field :name

  = f.text_field :price

  = f.text_area :description

  = f.text_field :imageurl

  = f.text_field :currency

  = f.number_field :retailer_id

  = f.number_field :manufacturer_id
  =f.hidden_field :owner_id, :value=>current_user.id
  %p
    = f.submit
