<h1>Edit outfit</h1>

<form id="edit-outfit" name="outfit">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="closet_id"> closet_id:</label>
    <input type="text" name="closet_id" id="closet_id" value="<%= closet_id %>" >
  </div>

  <div class="field">
    <label for="outfit_image"> outfit_image:</label>
    <input type="text" name="outfit_image" id="outfit_image" value="<%= outfit_image %>" >
  </div>

  <div class="field">
    <label for="info"> info:</label>
    <input type="text" name="info" id="info" value="<%= info %>" >
  </div>

  <div class="field">
    <label for="update_at"> update_at:</label>
    <input type="text" name="update_at" id="update_at" value="<%= update_at %>" >
  </div>

  <div class="field">
    <label for="created_at"> created_at:</label>
    <input type="text" name="created_at" id="created_at" value="<%= created_at %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Outfit" />
  </div>

</form>

<a href="#/index">Back</a>