<td><%= name %></td>
<td><%= closet_id %></td>
<td><%= outfit_image %></td>
<td><%= info %></td>
<td><%= update_at %></td>
<td><%= created_at %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>