<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Closet:</b>
  <%= closet_id %>
</p>

<p>
  <b>Outfit image:</b>
  <%= outfit_image %>
</p>

<p>
  <b>Info:</b>
  <%= info %>
</p>

<p>
  <b>Updated at:</b>
  <%= updated_at %>
</p>

<p>
  <b>Created at:</b>
  <%= created_at %>
</p>


<a href="#/index">Back</a>