<% if params[:pending].present? %>
  <h2><%= t('contact.pending.other') %></h2>
<% else %>
  <h2><%= t('contact.addressbook') %></h2>
<% end %>

<div class="space_center"></div>
<% cont=0; %>

<% @contacts.each do |contact| %>
    <% contact = contact.receiver.subject %>
  
    <div class="span3 well">
      <div class="row">
        <div class="span1">
          <%= link_to image_tag(contact.logo.url , :size => "50x50", :alt => contact.name), contact %>
        </div>
        <div class="span2">
          <p><b><%=link_to(truncate_name(contact.name), contact)%></b></p>
          <%= contact_to(contact) %>
          <!-- <span class="badge badge-info"><%= contact_to(contact) %></span> -->
        </div>
      </div>
     </div>


<% end %>

<div class="row">
  <%= paginate @contacts %>
</div>
