<h1>New linked_clothing_item</h1>

<form id="new-linked_clothing_item" name="linked_clothing_item">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="price"> price:</label>
    <input type="text" name="price" id="price" value="<%= price %>" >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <div class="field">
    <label for="imageurl"> imageurl:</label>
    <input type="text" name="imageurl" id="imageurl" value="<%= imageurl %>" >
  </div>

  <div class="field">
    <label for="item_url"> item_url:</label>
    <input type="text" name="item_url" id="item_url" value="<%= item_url %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Linked clothing item" />
  </div>

</form>

<a href="#/index">Back</a>