- title "Style du Jour - How Cute Is This? - #{@clothing_item.name}", false

.row-fluid
  .span12
    %h1=@clothing_item.name
.row-fluid
  .span12
    .span4
      =image_tag @clothing_item.imageurl, :style=>"max-width: 240px;"
    .span7
      %h2 How Cute Is This?
      
      .row
        .span3
          %p{:style=>"font-size:1.5em;"}
            - if @clothing_item.overall_hcit_score
              %strong="$#{@clothing_item.overall_hcit_score}" 
              Cute!    
            - else
              Be the first to tell us!
        .span2
          %p
            %strong=@clothing_item.shopped_count
            Shopped it!
          %p
            %strong=@clothing_item.dropped_count
            Dropped it!
        .span2
          - if @clothing_item.heir
            =link_to "Buy It", @clothing_item.heir.item_url, :class=>"btn btn-success"
           
      - if !@already_scored_item
        -if current_user
          = link_to "Tell Us", "#hcit_form", :data=>{:toggle=>"modal"}, :class=>"btn"
        -else
          = link_to "Tell Us", new_user_session_path, :class=>"btn"
        .modal.hide.fade#hcit_form
          .modal-header
            =link_to "x", :data=>{:dismiss=>"modal"}, :class=>"close"
            %h3 Tell us...
          .modal-body
          .modal-footer     
            =link_to "Close", "javascript:hideModal();"
        :javascript
          $('#hcit_form').modal({show: false});
          $('#hcit_form').on('show', function () {
              $.get('#{hcit_form_clothing_item_path(@clothing_item)}.html', function(data) { $('.modal-body').html(data);});
            });
            
          function hideModal() { $('#hcit_form').modal('hide'); }
      
      =link_to "Invite My Friends", "javascript:inviteFacebook();", :class=>"btn"
      =link_to "Ask All My Friends", "javascript:postFacebookWall();", :class=>"btn"
      %p
        %strong Description:
        = @clothing_item.description
        
      %p
        %strong Retailer:
        = @clothing_item.retailer_id
      %p
        %strong Manufacturer:
        = @clothing_item.manufacturer_id
      
      %p
        = link_to "View All", clothing_items_path
#facebook-row.row-fluid{:style=>"display:none;"}
  .span6
    #fb-root

-content_for :scripts do
  =javascript_include_tag "http://connect.facebook.net/en_US/all.js"
  :javascript
      
     function inviteFacebook() {
      FB.init({ 
               appId:'#{Settings.facebook.key}', 
               cookie:true, 
               status:true
               
            });
      FB.ui({ method: 'apprequests', message: 'How Cute Is This?.'}, fbInviteRequestCallback);
     }
     
     function fbInviteRequestCallback(response)
     {
      $.post('/hcit/fb_request', {'clothing_item_id':#{@clothing_item.id}, 'fb_ids':response.to, 'request_object_id':response.request}, 
              function(data, status) { if(status == "success") { alert('Your Facebook friends have been asked!'); }}, 'json');
     }
     
     function postFacebookWall() {
           FB.init({ 
               appId:'#{Settings.facebook.key}', 
               cookie:true, 
               status:true
               
            });
            
            FB.ui({method: 'feed',  name: 'How Cute Is This?',  caption:"#{@clothing_item.name}",
            description: '#{escape_javascript @clothing_item.description}', link: '#{clothing_item_url(@clothing_item)}', picture: '#{@clothing_item.imageurl}'
            });
     }
