!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %link{:rel=>"shortcut icon", :href=>"/assets/favicon.ico"}
    = stylesheet_link_tag "application"
    =# javascript_include_tag "https://www.google.com/jsapi"
    = csrf_meta_tag
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'
    = yield(:head)

  %body
    %header
      =render :partial=>"shared/header"
      .container
        .row-fluid
          .span12
            - flash.each do |name, msg|
              = content_tag :div, msg, :id => "flash_#{name}", :class=>"alert alert-#{name}"
    .container
      .row
        - if show_title?
          %h1= yield(:title)
      .row
        = yield
    %footer.footer
      =render :partial=>"shared/footer"
    = javascript_include_tag "application"
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js'
    = yield(:scripts)
    = yield(:templates)
